services:
  app:
    # image: git.suroh.tk/suroh/ethermap:latest
    image: ethermap:local-test
    ports:
      - ${PORT}:${PORT}
    env_file: .env
    environment:
      - NODE_ENV=production
    depends_on:
      db:
        condition: service_healthy
    post_start:
      - command: ["npm", "run", "db:migrate"]

  db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}", "-d", "${DB_NAME}"]
      interval: 10s
      timeout: 20s
      retries: 3
